body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: aquamarine;
  }
  
  .carousel-container {
    position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom:10px ;
  }
  
  .carousel-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  img {
    width: 100%;
    height: min-content;
  }
  
  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }
  